@import url("fonts/Roboto-Regular.ttf");
body {
    background-color: rgb(22, 22, 22);
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    overflow: hidden;
}

a {
    color: white;
}

#card {
    display: flex;
    width: 100vh;
    height: 50vh;
    padding: 3vh;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    user-select: none;
}

#social {
    display: flex;
    padding: 3vh;
    height: 50vh;
    text-align: center;
    background-color: rgba(59, 89, 152, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    user-select: none;
}

#cards {
    display:flex;
    height:100vh;
    align-items:center;
}

li {
    user-select: all
} 