#pfp {
    width: 20vh;
    height: 20vh;
    border-radius: 5vh;
    margin: 5vh;
    user-select: none;
}

#profile {
    background-color: lightskyblue;
    width: 30%;
    padding-bottom: 10vh;
}

#text {
    display: flex;
    flex-direction: column;
}

#card {
    margin: auto;
    width: 100vh;
    height: 50vh;
    background-color: rgb(65, 65, 65);
    color:white;
    border-radius: 5vh;
    flex-direction: row;
    display: flex;
    word-spacing: 0.5vh;
}

body {
    background-color: transparent;
}

p {
    font-size: 3vh;
    padding-right: 5vh;
    padding-left: 5vh;
}

a {
    color: white;
    text-decoration: none;
}